* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

main {
    flex-grow: 1;
}

.main-container {
    display: grid;
    margin-top: 1rem;
    background-color: gray;
    width: 500px; /*pendiente*/
    aspect-ratio: 1/1.1;
    grid-template-areas:    ". . . . . . . . ."
                            ". lcd lcd lcd lcd lcd lcd lcd ."
                            ". lcd lcd lcd lcd lcd lcd lcd ."
                            ". . . . . . . . ."
                            ". key key key key key key key ."
                            ". key key key key key key key ."
                            ". key key key key key key key ."
                            ". key key key key key key key ."
                            ". key key key key key key key ."
                            ". key key key key key key key ."
                            ". key key key key key key key ."
                            ". key key key key key key key ."
                            ". key key key key key key key ."
                            ". key key key key key key key ."
                            ". key key key key key key key ."
                            ". . . . . . . . .";
    grid-template-rows: 0.5fr repeat(2,1fr) 0.5fr repeat(11,1fr) 0.5fr;
    grid-template-columns: 0.5fr repeat(7,1fr) 0.5fr;
}

.lcd {
    grid-area:  lcd;
    background-color: rgba(58, 150, 15, 0.719);
    box-shadow: -1px 1px 1px inset #000, -3px 3px 15px inset #000;
}

.keyboard-container {
    grid-area: key;
    display: grid;
    grid-template-areas:    ". . . . . . . . ."
                            ". CA . C . sign . div-s ."
                            ". . . . . . . . ."
                            ". seven . eight . nine . mul-s ."
                            ". . . . . . . . ."
                            ". four . five . six . min-s ."
                            ". . . . . . . . ."
                            ". one . two . three . plu-s ."
                            ". . . . . . . . ."
                            ". zer0 . d0t . equal equal equal ."
                            ". . . . . . . . .";
    grid-template-columns: 0.5fr 3fr 0.5fr 3fr 0.5fr 3fr 0.5fr 3fr 0.5fr;
    grid-template-rows: 0.5fr 3fr 0.5fr 3fr 0.5fr 3fr 0.5fr 3fr 0.5fr 3fr 0.5fr;
    background-color: rgba(116, 16, 82, 0.678);
}

div {
    font-size: 3rem;
    text-align: center;
    line-height: 1.5;
    box-shadow: 1px 1px 1px #000,
                2px 2px 2px #000, 
                3px 3px 3px #000, 
                4px 4px 4px #000; 
}

.selected {
    background-color: rgba(190, 20, 134, 0.678);
}

div:active {
    box-shadow: -1px -1px 4px inset #000;
}

.keyboard-container > div {
    border-radius: 100%;
} /*ver y cambiar*/

.key-Ca {
    grid-area: CA;
}

.key-c {
    grid-area: C;
}

.key-sign {
    grid-area: sign;
}

.key-div-s {
    grid-area: div-s;
}

.key-seven {
    grid-area: seven;
}

.key-eight {
    grid-area: eight;
}

.key-nine {
    grid-area: nine;
}

.key-mul-s {
    grid-area: mul-s;
}

.key-four {
    grid-area: four;
}

.key-five {
    grid-area: five;
}

.key-six {
    grid-area: six;
}

.key-min-s {
    grid-area: min-s;
}

.key-one {
    grid-area: one;
}

.key-two {
    grid-area: two;
}

.key-three {
    grid-area: three;
}

.key-plus-s {
    grid-area: plu-s;
}

.key-zero {
    grid-area: zer0;
}

.key-dot {
    grid-area: d0t;
}

.key-equal {
    grid-area: equal;
}

footer {
    
}