* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: clamp(1.8rem, 2.5vw, 2.5rem);
    margin: 0;
    height: 100%;
    background: linear-gradient(#EA52F8, #0066FF);
}

main {
    flex-grow: 1;
    padding: 1rem 0;
    width: 100%;
    max-width: 1500px;
}

.main-container {
    display: flex;
    flex-direction: column;
    background-color: #000;
    width: clamp(290px, 30vw, 600px);
    aspect-ratio: 1/1.4;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: 1px 1px 4px 1px rgb(0 0 0), 
                2px 2px 4px 1px rgb(0 0 0), 
                -3px -3px 15px 1px rgb(179 179 179), 
                4px 4px 3px 1.5px rgb(0 0 0), 
                13px 12px 33px 9px rgb(161 161 161 / 50%);
    user-select: none;
}

.lcd,
.operation {
    display: flex;
    font-family: 'Orbitron', sans-serif;
    width: 100%;
    color: #fff;
    min-height: 10%;
    justify-content: end;
    align-items:baseline;
    word-break: break-all;
    text-align: right;
    padding: 1rem;
    padding-top: 0.15rem;
    background-color: rgba(40, 49, 59, 0.5);
    border-radius: 10px 10px 0 0;
}

.operation {
    padding: 1rem;
    padding-bottom: 0.15rem;
}

.keyboard-container {
    flex-basis: 80%;
    display: grid;
    grid-template-areas: "AC C sign sign-div"
                         "seven eight nine sign-mul"
                         "four five six sign-min"
                         "one two three sign-plu"
                         "zero dot equal equal";
    width: 100%;
    gap: 1px;
    padding: 1px;
}

.key {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #929191;
    transition: all 40ms;
}

.selected {
    box-shadow: 0px 0px 100px inset rgba(0, 0, 0, 0.3);
}

.key:hover {
    box-shadow: 0px 0px 100px inset rgba(206, 206, 206, 0.5);
}

.key:active {
    box-shadow: 0px 0px 10px 1px inset rgba(0, 0, 0, 0.5);
}

.div-s,
.mul-s,
.min-s,
.plus-s {
    background-color: #ffd95c;
}

.Ac {
    grid-area: AC;
}

.C {
    grid-area: C;
}

.sign {
    grid-area: sign;
}

.div-s {
    grid-area: sign-div;
}

.seven {
    grid-area: seven;
}

.eight {
    grid-area: eight;
}

.nine {
    grid-area: nine;
}

.mul-s {
    grid-area: sign-mul;
}

.four {
    grid-area: four;
}

.five {
    grid-area: five;
}

.six {
    grid-area: six;
}

.min-s {
    grid-area: sign-min;
}

.one {
    grid-area: one;
}

.two {
    grid-area: two;
}

.three {
    grid-area: three;
}

.plu-s {
    grid-area: sign-plu;
}

.equal {
    grid-area: equal;
    background-color: #f44336;
    border-radius: 0 0 10px 0;
}

.dot {
    grid-area: dot;
}

.zero {
    grid-area: zero;
    border-radius: 0 0 0 10px;
}

.footer {
    display: grid;
    grid-template-columns: 75% 25%;
    background-color: #000;
    width: 100%;
    font-size: clamp(1.1rem, 1.8vw, 1.8rem);
    height: fit-content;
    color: #fff;
    text-align: center;
}

.help-window {
    display: none;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    font-size: clamp(1rem, 1.8vw, 1.8rem);
    width: 70%;
    height: fit-content;
    padding: 1%;
    box-shadow: 5px -5px 13px 19px rgb(0 0 0 / 36%);
    position: absolute;
    transform: translateY(15vh);
    border-radius: 10px;
}

.help {
    animation-name: helpattention;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    width: fit-content;
}

@keyframes helpattention {
    0%,
    100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

table {
    width: 80%;
    margin: 0 auto;
}

.footer > p {
    margin: 0.5rem auto;
}